<html>
  <head>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script>
      function fetch() {
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                let entities = JSON.parse(this.responseText);
                let traces = [];

                for (let entity in entities) {
                  let trace = {
                    x: entities[entity][1],
                    y: entities[entity][2],
                    mode: "lines",
                    type: "scatter",
                    name: entities[entity][0]
                  };
                  traces.push(trace);
                }

                Plotly.newPlot("plots", traces, {
                  autosize: false,
                  width: 1600,
                  height: 1600,
                });
            }
        };
        xmlhttp.open("GET", "/entities", true);
        xmlhttp.send();

        setTimeout(function() { fetch() }, 10000);
      }
      fetch();
    </script>
  </head>
  <body>
    <h2>Most Popular Topics in Recent PubMed Articles</h2>
    <h4 id="updated-at"></h4>
    <div id="plots"></div>
  </body>
</html>
