<div style="display:flex;flex-direction:row;height:100%;width:100%">
  <div id="list" style="display:flex;flex-direction:column;width:40%;height:100%">
    <input id="search" placeholder="search by any term" style="height:5%;border-style:none">
    <table id="table" class="table" style="height:75%">
      <thead style="background-color:grey;color:white;">
        <tr>
          {%for i in range(columns | length)%}
            <th>
              {{columns[i]}}
              <i class="fa fa-fw fa-sort" state=0 style="cursor:pointer"></i>
            </th>
          {%endfor%}
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <div style="display:flex;width:100%;height:20%;padding:20px 0;justify-content:space-around;align-items:center;background-color:#DDDDDD">
      <div id="statistics">
        <div>Breakout Coefficient <span class="badge badge-dark">9001</span></div>
        <div>Current Event Score <span class="badge badge-dark">123</span></div>
        <div>Classifier Score <span class="badge badge-dark">0.5</span></div>
      </div>
      <div><a id="export" class="btn btn-primary">Export <span class="badge badge-light"></span></a></div>
    </div>
  </div>
  <div style="width:60%;height:100%;background-color:#222222">
    <div style="display:flex;height:60%">
      <div id="histo1" style="width:50%;"></div>
      <div id="histo2" style="width:50%;"></div>
    </div>

    <div id="articles" style="display:flex;width:100%;height:40%;background-color:#555555">
      <div style="width:50%;height:100%;padding:20px">
        <h4 id="articles1h" style="height:20%"></h4>
        <div id="articles1" style="overflow:scroll;height:80%;overflow:auto"></div>
      </div>
      <div style="width:50%;height:100%;padding:20px">
        <h4 id="articles2h" style="height:20%"></h4>
        <div id="articles2" style="overflow:scroll;height:80%;overflow:auto"></div>
      </div>
    </div>
  </div>
</div>

<script>
  var genieData = JSON.parse('{{data | tojson}}')
  var numColumns = {{columns | length}}
</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="js/list.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
  #table tbody {
    height: 90%;
    overflow: auto;
    display: block;
  }

  #table thead {
    height: 10%;
  }

  #table thead, tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
  }

  #table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  #table tbody tr:hover {
    cursor: pointer;
    background: #ebebeb;
  }

  #table tbody tr.selected {
    background: #ebebeb;
  }

  #table td {
    overflow: auto;
  }

  #search {
    padding: 10px;
  }

  #search:focus {
    outline: none;
  }

  #table {
    margin-bottom: 0;
  }

  #table td, #table th {
    border-style: none;
  }

  #articles * {
    color: white;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  body {
    width: 100vw;
    height: 100vh;
  }
</style>
